
<div class="table-responsive">
    <table class=" table table-hover">
        <thead>
          <tr>
            <th scope="col">Nombre Usuario</th>
            <th scope="col">Email</th>
            <th scope="col">Fecha</th>
            <th class="d-none d-sm-block" scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-info" *ngFor= "let item of fakeData">
            <!-- interpolar -->
            <th scope="row">{{item.nombre}}{{item.apellido}}</th>
            <td>{{item.email}}</td>
            <td>{{item.fechaIngreso}}</td>
            <td class="btn-group d-none d-sm-block" role="group">
                <button type="button" class="btn btn-outline-success m-1" (click)="onGoToEdit(item)"> Editar</button>
                <!-- Ver - detailsu -->
                <button type="button" class="btn btn-outline-success m-1" (click)="onGoToSee(item)"> Ver</button>
                <button type="button" class="btn btn-outline-danger m-1" (click)="onGoToDelete(item)"> Eliminar</button>
            </td>
          </tr>

        </tbody>
    </table>
</div>

