<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">eCommerceB</a>
    <!-- <a class="navbar-brand" [routerLInk]="['/']">eCommerceB</a> -->

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <!-- <li class="nav-item active">
          <a class="navbar-brand" [routerLink]="['/Home']">Home
            <span class="sr-only">(current)</span>
          </a>
        </li> -->
        <li class="nav-item">
          <a class="navbar-brand" [routerLink]="['/login']">Loggin</a>
          <!-- <a class="navbar-brand" href="#">Loggin</a> -->
        </li>
        <li class="nav-item">
          <a class="navbar-brand"[routerLink]="['/registeru']"> Registrate</a>
        </li>

        <!-- <li class="nav-item">
          <a class="nav-link" [routerLink]="['/About']">About</a>
        </li> -->
        <li class="nav-item">
          <a class="navbar-brand" [routerLink]="['/List']">Lista clientes</a>
          <!-- <a class="navbar-brand" href="#">List</a> -->
        </li>

      </ul>
    </div>
  </nav>
