<!-- <p>Lista de detalles usuario N° : </p>
{{ this.value | json }} -->

<div class="card mt-2">
  <div class="card-header">
    Detalles Usuario detailsu - card
  </div>
  <div class="card-body">
    <!-- list-group-flush - eliminar bordes -->
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Nombre: <h5>{{dtuser.nombre}} {{dtuser.apellido}}</h5>
      </li>
      <li class="list-group-item">
        Email: <h5>{{dtuser.email}}</h5>
      </li>
      <li class="list-group-item">
        Fecha de Inscripcion: <h5>{{dtuser.fechaIngreso}}</h5>
      </li>
    </ul>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-outline-warning m-1 btn-sm" (click)="onGoToEdit()">Editar</button>
    <button type="button" class="btn btn-outline-danger m-1 btn-sm" (click)="onDelete()">Eliminar</button>
  </div>
</div>

<button type="button" class="btn btn-info mt-2" (click)="onGoBackToList()">Regresar a la lista </button>

<!-- {{ dtuser | json }} -->
