<!-- <p>editar usuario! - input data users</p>
interpolation
{{ this.value | json }} -->

<form class="mt-3 col-md-6 offset-md-3" (ngSubmit)="onSave()" [formGroup]="userForm">
  <div class="form-row">
    <div class="form-group col-md-6">
      <input type="text" class="form-control" placeholder="Nombre" formControlName="nombre">
    </div>
    <div class="form-group col-md-6">
      <input type="text" class="form-control" placeholder="Apellido" formControlName="apellido">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <input type="text" class="form-control" placeholder="Email" formControlName="email">
    </div>
    <div class="form-group col-md-6">
      <!-- option date picker -->
      <input type="text" class="form-control" placeholder="Fecha de Ingreso 01/02/2021" formControlName="fechaIngreso">
    </div>
  </div>
  <!-- btn-block - para que el boton ocupe todo el espacio -->
  <button type="submit" class="btn bg-dark btn-block text-light">Guardar</button>
</form>
<button type="button" class="btn btn-info mt-2" (click)="onGoBackToList()">Regresar a la lista </button>

<!-- {{ dtuser| json }} -->

