
	<title>Login Page</title>
  <!--Made with love by Mutiullah Samim -->

 <!--Bootsrap 4 CDN-->
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

   <!--Fontawesome CDN-->
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">



<!-- <body> -->
<div class="container-card">
 <div class="d-flex justify-content-center h-100">
   <div class="card">
     <div class="card-header">
       <h3>Acceder</h3>
       <div class="d-flex justify-content-end social_icon">
         <span><i class="fab fa-facebook-square"></i></span>
         <span><i class="fab fa-google-plus-square"></i></span>
         <span><i class="fab fa-twitter-square"></i></span>
       </div>
     </div>
     <div class="card-body">
       <form>
         <div class="input-group form-group">
           <div class="input-group-prepend">
             <span class="input-group-text"><i class="fas fa-user"></i></span>
           </div>
           <input type="text" class="form-control" placeholder="usuario">

         </div>
         <div class="input-group form-group">
           <div class="input-group-prepend">
             <span class="input-group-text"><i class="fas fa-key"></i></span>
           </div>
           <input type="password" class="form-control" placeholder="password">
         </div>
         <div class="row align-items-center remember">
           <input type="checkbox">Recordar password
         </div>
         <div class="form-group">
           <input type="submit" value="Login" class="btn float-right login_btn">
         </div>
       </form>
     </div>
     <div class="card-footer">
       <div class="d-flex justify-content-center links">
         ¿No tienes una cuenta?<a href="#">Registrate</a>
       </div>
       <div class="d-flex justify-content-center">
         <a href="#">Olvidaste tu contraseña?</a>
       </div>
     </div>
   </div>
 </div>
</div>
<!-- </body> -->

